.to-do-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: lightblue;
  font-size: 1rem;
  color: black;
  box-sizing: border-box;
  padding: 0.5rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
}

.to-do-checkbox {
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
}

.to-do-text {
  font-size: 1rem;
  color: black;
}

.to-do-delete-button {
  background-color: orange;
  border: none;
  border-radius: 10px;
  color: black;
  width: fit-content;
  padding: 0.5rem;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 500;
}

.to-do-delete-button:hover {
  background-color: #e69500;
}

.is-done {
  text-decoration: line-through;
}
